<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>ds-hw1-lemmonbri</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
          DS-HW1
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="index.html">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="profile.html">Profile</a>
          <a class="nav-item nav-link" href="books.html">Books</a>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <form>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Jane">
            </div>
            <div class="form-group">
              <label for="author">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Doe">
            </div>
            <div class="form-group">
              <label for="yearPub">DOB</label>
              <input type="date" class="form-control" id="dob" placeholder="1/1/1900">
            </div>
            <div class="form-group">
              <label for="sexAtBirth">Sex at Birth</label>
              <select class="form-control" id="sexAtBirth">
                <option>M</option>
                <option>F</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div id="patientWaitingApp" class="col-md-3 queueView">
          <div class="patientWaiting patient" :class="patient.priority +'Priority'" v-for="patient in patients">
            <span class="patientName">{{ patient.firstName}} {{ patient.lastName }}</span>
            <br>
            <span>{{ patient.sexAtBirth }}</span>
            <br>
            <span>{{ patient.dob }}</span>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <table id="recordWaitingApp" class="table table-dark">
          <thead>
            <tr>
              <th scope="col">PatientGuid</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">DOB</th>
              <th scope="col">Sex at Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in patients">
              <th scope="row">{{ p.patientGuid }}</th>
              <td>{{ p.firstName }}</td>
              <td>{{ p.lastName }}</td>
              <td>{{ p.dob }}</td>
              <td>{{ p.sexAtBirth }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/record.app.js"></script>
    <script src="js/waiting.app.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
